# Site wide configuration

title: "胡靖茵个人学习博客"
description: "个人学习博客"
logo: zhu-160x160 px.jpg
teaser: # 400x250 px default teaser image used in image archive grid
locale: zh_CN # 本地化翻譯
url:
feed:
  path: atom.xml

# Jekyll configuration

sass:
  sass_dir: _sass
  style: compressed
permalink: /:categories/:title/
kramdown:
  toc_levels: 1..2
highlighter: rouge
gems:
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed


# Site owner
owner:
  name: 胡靖茵
  email: 846853193@qq.com
  twitter: 
  google:
    ad-client:
    ad-slot:
  bio: "胡靖茵 中山大学南方学院网络与新媒体专业学生"
  avatar: bio.jpg # 160x160 px image for author byline
  disqus-shortname:


include:
  - .htaccess
exclude:
  - "*.less"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - config
  - gulpfile.js
  - lib
  - log
  - node_modules
  - package.json
  - spec
  - tmp

# Site Author
author:
  name             : "胡靖茵"
  avatar           : "/image/bio.jpg"
  bio              : "中山大学南方学院网络与新媒体专业学生"
  location         : "广东-佛山"
  email            : "846853193@qq.com"
  uri              : "中山大学南方学院"
  bitbucket        :
  codepen          :
  dribbble         :
  flickr           :
  facebook         :
  foursquare       :
  github           : "hujingyin"
  gitlab           :
  google_plus      :
  keybase          :
  instagram        :
  lastfm           :
  linkedin         : # "john-doe-12345678" (the last part of your profile url, e.g. https://www.linkedin.com/in/john-doe-12345678)
  pinterest        :
  soundcloud       :
  stackoverflow    : # "123456/username" (the last part of your profile url, e.g. https://stackoverflow.com/users/123456/username)
  steam            : # "steamId" (the last part of your profile url, e.g. https://steamcommunity.com/id/steamId/)
  tumblr           :
  twitter          :
  vine             :
  weibo            : "胡靖茵茵茵"
  xing             :
  youtube          : # "https://youtube.com/c/MichaelRoseDesign"
